<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mojnotatnik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_2_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".settings.SettingsActivity"
            android:label="Ustawienia" />
        <activity android:name=".notatki.NoteActivity"
            android:label="Nowa notatka"/>
        <activity android:name=".MainActivity"
            android:label="Notatki">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.VIBRATE"
        tools:ignore="ManifestOrder" />


</manifest>